@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* font-family: 'Lato', sans-serif; font-family: 'Merriweather', serif; */

/* Start of the section header */
header{
    width: 100%;
    height: auto;
    background: #FFFFFF;
    position: fixed;
    z-index: 100;
} 
.nav-sm {
    display: none;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.nav_list{
    display: flex;
    flex-direction: row;
    padding: 0;   
    margin-bottom: 0px!important;
}
.nav-elem, .sign-link{
    list-style-type: none;
}
.nav-link{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #292929;
    text-decoration: none!important;
    transition: 0.3s;
}
.nav-link:hover{
    color: #01996D;   
}
.sign-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px!important;
}
.button{
    text-decoration: none!important;
    background: #01996ed8;
    border: 1px solid #01996D;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 13px 50px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    transition: 0.3s;
    }
.button:hover{
    background-color: #01996D;
    color: #ffffff;
        
}
/* Burger menu */
.burger-btn {
    display: none;
	width: 45px;
	height: 45px;
	position: relative;
	z-index:2;
	overflow: hidden;
}

.burger-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}

.burger-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.burger-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.burger-btn.active span:nth-of-type(1) {
  display: none;
}
.burger-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.burger-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

/* Меню, которое будет появляться */
.nav-sm {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
    background: #E5E5E5;;
	transform: translateX(-100%);
	transition: transform 0.5s; 
}

.nav-sm.active {
    display: block;
	transform: translateX(0);
}
.nav-sm li {
	list-style-type: none;
}
.nav-sm-links{
    cursor: pointer;
    display: block;
    color: #01996D;
    font-size: 40px;
    text-decoration: none!important;
    
}
.nav-sm-links:hover{
    border-bottom: 3px #01996D solid;
}
.nav-sm-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-sm-elem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* End of the burger section */

.header-img{
    background-image: url(../img/header/BG.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.header-pic{
    padding-top: 175px;
    padding-bottom: 200px;
}
.header-pic-title{
    width: 440px;
    height: 148px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 65px;
    line-height: 74px;
    color: #01996D;
    margin-bottom: 30px;
}
.header-pic-text{
    width: 420px;
    height: 123px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 31px;
    color: #484848;
    margin-bottom: 18px;
}
/* End of the section header */
.work{
    width: 100%;
    height: auto;
    background: #E5E5E5;
}
.work-steps{
    padding-top: 80px;
    padding-bottom: 50px;
}
.work-text{
    padding-top: 50px;
}
.work-tips{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tip-content{
    padding-left: 5%;
    width: 390px;
    display: flex;
    flex-direction: column;
}
.tip-head{
    position: relative;
    width: 157px;
    height: 150px;
}
.tip-topimg{
    position: absolute;
}
.tip-title{
    position: absolute;
    left: 60%;
    bottom: 38%;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 45px;
    color: #000000;
}
.tip-text{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #424242;
    margin-bottom: 60px;
}
.tip-img{
    height: 492px;
    position: relative;
    margin-bottom: 50px;
}
.tip-bigimg{
    position: absolute;
    border-radius: 12px;
}
.tip-smallimg{
    position: absolute;
    left: 53%;
    width: 47%;
    bottom: 39.5%;
}
.tip-content--size{
    margin-top: 300px;
}
.tip-content--size2{
    margin-top: 106px;
}
.tip-title--size{
    left: 45%;
    width: 310px;
    font-size: 23px;
    line-height: 45px;
}

/* Start of the section review */
.review{
    width: 100%;
    height: auto;
    background: #245852; 
}
.about-fb{
    padding-top: 200px;
    padding-bottom: 200px;
}
.fb-title{  
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 157%;
    color: #FFFFFF;
    padding-bottom: 33px;
}
.fb-text{
    width: 550px;
    height: 39px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 39px;
    color: #FFFFFF;
    padding-bottom: 100px;
}
.video-item{
    width: 100%;
    height: 100% !important;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16.3326px;
}

/* End of the section review */

/* Start of the section about */
.about{
    width: 100%;
    height: auto;
    background: #E5E5E5;;
}
.about-content{
    padding-top: 120px;
    padding-bottom: 300px;
}
.about-img{
    position: relative;
}
.img-main{
    position: absolute;
}
.about-work{
    padding-left: 7%;
}
.profile{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 297px;
    left: -15px;
    padding: 0 60px;
    width: 300px;
    height: 300px;
    border-radius: 3.72971px;
    border: 1px solid #01996D;
    background: #FFFFFF;
}
.profile-intr{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.profile-head{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 14.49px;
    line-height: 23px;
    color: #000000;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.profile-name{
    font-family: 'Lato', sans-serif;
    font-size: 11.9351px;
    line-height: 19px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 20px;
}
.profil-list{
    margin: 0;
    padding: 12px;
}
.list-item::before{
    content: '';
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 1px;
    width: 4px;
    height: 4px;
    background: #000000;
    border-radius: 50%;
}
.profil-title{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 15.9292px;
    line-height: 25px;
    color: #000000;
}
.list-item{
    font-family: 'Lato', sans-serif;
    font-size: 10.6195px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 15px;
}
.work-head{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 157%; 
    color: #424242;
    margin-bottom: 10px;
}
.work-title{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 157%;
    color: #01996D;
    margin-bottom: 20px;
}
.work-title--size{
    font-size: 28px;
}
.work-text{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 31px;
    color: #484848;
    margin-bottom: 100px;
    
}

/* End of the section about */

/* Start of the section footer */
.footer{
    width: 100%;
    height: auto;
    background: #245852;
}
.footer-items{
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.logo-bot{
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 55px;
    color: #ffffffe3;
    text-decoration: none!important;
}
.logo-bot:hover{
    color: #FFFFFF;
}
.footer-rights{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

/* End of the section footer */


/* for tablets */
@media screen and (min-width: 768px) and (max-width:1023px){
/* Burger menu */
.burger-btn {
    display: inline-block;
}
.navig{
    display: none;
}
.sign-link{
    display: none;
}
.header-img{
    background-image: url(../img/header/BG.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.header-pic-title{
    font-size: 50px;
}
.work-title{
    font-size: 32px;
}
.work-steps {
    padding-bottom: 0;
}
.tip-smallimg{
    left: 53%;
    width: 28%;
    bottom: 25.5%;
}
.tip-bigimg {
    margin-left: 20%;
}
.tip-content--size, .tip-content--size2{
    margin-top: 30px;
}
.about-fb {
    padding-top: 50px;
    padding-bottom: 50px;
}
.fb-title {
    font-size: 35px;
}
.fb-note{
    margin-bottom: 50px;

}
.fb-video--size{
    height: 350px;
}
.about-work {
    padding-top: 94%;
}
.profile{
    margin-top: 355px;
    left: 3px;
}
.work-title {
    font-size: 29px;
    margin-bottom: 0;
}
.about-content {
    padding-bottom: 120px;
}
}


@media screen and (min-width: 320px) and (max-width:767px) {
.burger-btn {
    display: inline-block;
}
.navig{
    display: none;
}
.sign-link{
    display: none;
} 
.nav-sm-links {
    font-size: 35px; 
}
.nav-sm-elem {
    margin-top: 25px;
}
.header-pic-title {
    width: 100%;
    height: 100%;
    font-size: 40px;
}
.header-pic-text {
    width: 100%; 
    height: 100%;
    margin-bottom: 61px;
}
.header-pic {
    padding-top: 120px;
    padding-bottom: 120px;
}
.header-img{
    background-position: 0 0;   
}
.work-head {
    margin-bottom: 25px;
}
.work-title {
    font-size: 26px;
}
.work-tip{
    margin-left: 0;
}
.work-steps {
    padding-bottom: 0;
}
.tip-content{
    padding-right: 0;
    margin-bottom: 330px;
}
.tip-title--size {
    width: 100%;
}
.tip-smallimg {
    left: 53%;
    width: 47%;
    bottom: -160%;
}
.tip-content--size{
    margin-top: 100px;
}
.tip-img {
    height: 100px;
    margin-top: 50px;
}
.about-fb {
    padding-top: 100px;
    padding-bottom: 100px;
}
.fb-title{
    font-size: 35px;
}
.fb-text {
    width: 100%;   
}
.fb-video--size{
    height: 200px;
    margin-top: 50px;
}
.about-img {
    position: static;
}
.img-main{
    position: relative;
} 
.profile{
    position: absolute;
    margin-top: -110px;
}
.about-work {
    margin-top: 120px;
}
.about-content{
    padding-top: 90px;
    padding-bottom: 50px;
}
.profile {
    left: 7px;
    padding: 0px 0px;
    width: 200px;
    height: 190px;
}
.profile-intr {
    margin-top: 5px;
}
.profile-head {
    padding-bottom: 5px;
    margin-bottom: 5px;
    line-height: 10px;
}
.profile-name {
    line-height: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.profil-title {
    font-size: 13px;
    line-height: 20px;
}
.work-title {
    font-size: 24px;
}
.work-text{
    padding-top: 10px;
}
.footer-items {
    padding-top: 15px;
    padding-bottom: 10px;
}
.logo-bot {
    font-size: 30px;
}
}

@media screen and (min-width: 375px) and (max-width:424px) {
.tip-smallimg {
    bottom: -208%;
}
}
@media screen and (min-width: 425px) and (max-width:767px){
.tip-smallimg {
    bottom: -250%;
}
}
@media screen and (min-width: 1024px) and (max-width:1439px) {
.tip-smallimg {
    bottom: 52.5%; 
}
.tip-title--size {
    left: 20%;
}
}
@media screen and (min-width: 1440px) and (max-width:2559px) {
.tip-smallimg {
    bottom: 42.5%;
}
}